<section class="tab features {{tab.cssClass}}" data-group="primary" data-tab="features">
  <h2 class="dsp-tab-title"><i class="fa-solid fa-puzzle-piece"></i> Features</h2>
  {{> "modules/draw-steel-plus/templates/sheets/actor/shared/partials/features/features.hbs"}}
</section>
