<div class="dsp-search-filter">
  <div class="dsp-search-bar">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" class="dsp-search-input" placeholder="{{localize 'DRAW_STEEL_PLUS.Search.placeholder'}}" data-dsp-search>
    <a class="dsp-search-clear" data-action="clearSearch"><i class="fa-solid fa-xmark"></i></a>
  </div>
</div>
