<div class="dsp-search-filter">
  <div class="dsp-search-bar">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" class="dsp-search-input" placeholder="{{localize 'DRAW_STEEL_PLUS.Search.placeholder'}}" data-dsp-search>
    <button type="button" class="dsp-search-clear" data-action="clearSearch" data-tooltip="DRAW_STEEL_PLUS.Search.clear" aria-label="{{localize 'DRAW_STEEL_PLUS.Search.clear'}}"><i class="fa-solid fa-xmark"></i></button>
  </div>
</div>
