<div>
  <fieldset>
    {{formGroup npcFavoritesEnabled.field value=npcFavoritesEnabled.value name="npcFavoritesEnabled" label=npcFavoritesEnabled.label hint=npcFavoritesEnabled.hint}}
  </fieldset>
</div>
