<div class="chat-card ability-card">
  <div class="card-embed">
    {{{ctx.embed.outerHTML}}}
  </div>
  {{#if ctx.buttons}}
  <div class="card-buttons">
    {{#each ctx.buttons as |button|}}{{{button.outerHTML}}}{{/each}}
  </div>
  {{/if}}
</div>
