<div class="chat-card saving-throw-card">
  {{#if part.flavor}}
  <p class="supplement flavor">{{{part.flavor}}}</p>
  {{/if}}
  <div class="card-rolls">
    {{#each ctx.rolls}}{{{this}}}{{/each}}
  </div>
  {{#if ctx.buttons}}
  <div class="card-buttons">
    {{#each ctx.buttons as |button|}}{{{button.outerHTML}}}{{/each}}
  </div>
  {{/if}}
</div>
